* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-image: url(images/background.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: none;
}
.score {
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
}
.container {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.hole {
    background-color: rgb(48, 21, 5);
    box-shadow: inset 2px 2px 5px 10px rgb(24, 22, 21),inset 0 0 10px rgb(43, 34, 28), 2px 2px 8px 3px green;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.hole .rabbit {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: raise 0.3s ease-out;
}
@keyframes raise{
    0% {
        transform: translateX(-50%) translateY(100px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
.cursor {
    height: 180px;
    width: 180px;
    top: 100px;
    left: 100px;
    background-image: url(images/hammer.png);
    background-size: 100% 100%;
    position: absolute;
    transform: translate(-50px, -50px);
    transition: translate 0.5s;
    pointer-events: none;
}
.cursor.active {
    transform: translateX(-30px) rotate(-45deg);
}